<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>390739378398-jd5e3bpdo37fskaetbtkrrcm1oqh4non.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.390739378398-jd5e3bpdo37fskaetbtkrrcm1oqh4non</string>
	<key>API_KEY</key>
	<string>AIzaSyCAUCsXn2DuvP5fiNpvrHb_YnDPttDEDtg</string>
	<key>GCM_SENDER_ID</key>
	<string>390739378398</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>me.thebao.memoplace</string>
	<key>PROJECT_ID</key>
	<string>memoplace-9e82a</string>
	<key>STORAGE_BUCKET</key>
	<string>memoplace-9e82a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:390739378398:ios:960b86a7c39589a5</string>
	<key>DATABASE_URL</key>
	<string>https://memoplace-9e82a.firebaseio.com</string>
</dict>
</plist>